.spyderproject
.vscode/
__pycache__/
*.pyc
*.pickle
visual/output/
dmr/output/
dmr/output_notags/
tfidf/__pycache__/
dmr/output_slice/
*.parameters
*.state
*.gz
dmr/output_complete/
.spyproject/
dmr-v2/output/
lda/topicimg/
